{% extends "layout.html" %}
{% block body %}
  <section id="equaliser_container">
    <section class="home_logo text-center col-md-12 col-sm-12">
      <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='imgs/Polifonia_Logo_H_W.jpg') }}" alt="">
      <span class="col-md-1 col-sm-1"><em>Tune your preferences and scroll</em> </span>
    </section>

    <section id="equaliser" class="equaliser row justify-content-md-center">
      <section class="col-md-2 col-sm-2 eq thumb_yellow">
        <input id='music_sources' onchange="showSection(this.value, this.id)" class="col-md-3 col-sm-12" type='range' value='40'/>
        <span class="col-md-3 col-sm-12">discover music sources on the web</span>
      </section>
      <section class="col-md-2 col-sm-2 eq thumb_red">
        <input id='meet' onchange="showSection(this.value,this.id)" class="col-md-3 col-sm-12" type='range' value='40'/>
        <span class="col-md-3 col-sm-12">meet the protagonists of music history</span>
      </section>
      <section class="col-md-2 col-sm-2 eq thumb_violet">
        <input id='analyse' onchange="showSection(this.value,this.id)" class="col-md-3 col-sm-12" type='range' value='40'/>
        <span class="col-md-3 col-sm-12">analyse historical music scores</span>
      </section>
      <section class="col-md-2 col-sm-2 eq thumb_green">
        <input id='recommend' onchange="showSection(this.value,this.id)" class="col-md-3 col-sm-12" type='range' value='40'/>
        <span class="col-md-3 col-sm-12">get inspired with recommended music</span>
      </section>
      <section class="col-md-2 col-sm-2 eq thumb_blue">
        <input id='experience' onchange="showSection(this.value,this.id)" class="col-md-3 col-sm-12" type='range' value='40'/>
        <span class="col-md-3 col-sm-12">find a unique music experience</span>
      </section>


  </section>
  </section>
  <!-- <section class="maincontent row justify-content-md-center">
    <h2>hello</h2>
  </section> -->
{% endblock %}
